
<form id="">
<div class="card " style="max-width: 50rem; max-height: 100rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">col-4</div>
            <div class="col-4">

                <div class="form-group">
                    <label for="sel1">Select list:</label>
                    <select class="form-control" id="sel1" (change)="changeSuit($event)" >
                        <option *ngFor="let s of reasons">{{s.reasoncode}}</option>
                    </select>
                  </div>

               
            </div>
            <div class="col-4">col-4</div>
          </div>     

          <div class="row">
            <div class="col-4">col-4</div>
            <div class="col-4">
                <div class="form-group">
                    <label for="usr">Name:</label>
                    <input type="text" tabindex="-1" name="type" readonly [(ngModel)]="selectedReason.type" class="form-control" id="usr">
                  </div>               
            </div>
            <div class="col-4">col-4</div>
          </div>     

          <div class="row">
            <div class="col-4">col-4</div>
            <div class="col-4">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" tabindex="-1" name="description" readonly [(ngModel)]="selectedReason.description"  rows="2" id="comment"></textarea>
                  </div>               
            </div>
            <div class="col-4">col-4</div>
          </div>     

    
        <div class="row">
            <div class="col-4">col-4</div>
        </div>     

        <div class="row">
          <div class="col-4">col-4</div>
          <div class="col-4">
              <div class="form-group">
                  <label for="carrier">Comment:</label>
                  <textarea class="form-control" name="carrier"  [(ngModel)]="selectedReason.carrier"  rows="2" id="carrier"></textarea>
                </div>               
          </div>
          <div class="col-4">col-4</div>
        </div>  
      
        <div class="row">
            <button type="button" (click)="onsubmit()"  class="btn btn-info">Save</button>
        </div>
        <div class="row">
            <button type="button" (click)="onsubmit()"  class="btn btn-info">cancel</button>
        </div>


    </div>
  </div>

</form>


 


